:root {
  --main-bgc-white: #ffffff;
  --secondary-bgc-grey: #f5f4fa;
  --footer-bgc: #2f303a;
  --focused-color: #2196f3;
  --prime-text-color: #212121;
  --description-text-color: #757575;
  --footer-dark-grey-text-color: rgba(255, 255, 255, 0.4);
}
.header-section {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.logo {
  text-transform: capitalize;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;

  min-width: 153px;
  display: inline-block;
  margin-right: 85px;
}
.logo-firsthalf {
  color: var(--focused-color);
}
.logo-secondhalf {
  color: black;
}
.nav-list {
  display: flex;
}
.nav-list .item {
  margin-right: 50px;
}
.nav-list .item:nth-child(3) {
  margin-right: 0px;
}
.nav-list-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--prime-text-color);

  padding-bottom: 32px;
  padding-top: 32px;
}
.nav-list-title:focus,
.nav-list-title:hover {
  color: var(--focused-color);
}
.focused {
  color: var(--focused-color);
}
.contact-list-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-contact-list .contact-list-link:focus,
.header-contact-list .contact-list-link:hover {
  color: var(--focused-color);
  fill: var(--focused-color);
}
.header-contact-list .contact-list-link {
  display: flex;
  align-items: center;
  padding: 8px 0;

  color: var(--description-text-color);
  fill: var(--description-text-color);
}
.contact-list-link .contacts-icon {
  margin-right: 10px;
}

.navigation {
  display: flex;
  align-items: center;
}
.header-contact-list {
  margin-left: auto;
  display: flex;
}
.header-contact-list .item {
  min-width: 142px;
  display: flex;
  margin-right: 30px;
}
.header-contact-list .item:nth-child(2) {
  margin-right: 0px;
}

.hero-section {
  text-align: center;
}
.hero-section .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-section {
  min-width: 1200px;
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  padding: 200px 0px;
  background-position: 50% 50%;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/header-img.jpg);
  background-repeat: no-repeat;
}
.hero-section .hero-button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  background-color: var(--focused-color);
}
.hero-button .button-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;

  color: #ffffff;
}
.features {
  max-width: 1200px;
  margin: 0 auto;
  padding: 93px 15px;
}
.features .fetures-lable {
  display: none;
}
.features-list {
  display: flex;
}
.features-list .features-card {
  max-width: 270px;
  margin-right: 30px;
}
.features-list .features-card:nth-child(4) {
  margin-right: 0px;
}
.features-card .icon-frame {
  min-width: 270px;
  min-height: 120px;
  padding: 25px 100px;
  background-color: var(--secondary-bgc-grey);
  margin-bottom: 30px;
}
.features-card .icon {
  width: 70px;
  height: 70px;
}
.features-list .features-card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-list .features-card-discription {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  color: var(--description-text-color);
}
.performance {
  max-width: 1200px;
  padding: 93px 15px;
  margin: 0 auto;
}
.performance .performance-lable {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
.performance .performance-list {
  display: flex;
}
.performance-list .item {
  margin-right: 30px;
}
.performance-list .item:nth-child(3) {
  margin-right: 0px;
}
.performance-list .performance-title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;

  background-color: var(--footer-bgc);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.our-team {
  background-color: var(--secondary-bgc-grey);
  max-width: 1200px;
  padding: 94px 15px;
  margin: 0 auto;
}
.our-team .our-team-lable {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.our-team .our-team-list {
  display: flex;
}
.our-team-list .team-member-card {
  padding-bottom: 24px;
  margin-right: 30px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.our-team-list .team-member-photo {
  margin-bottom: 30px;
}
.our-team-list .team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;

  margin-bottom: 10px;
}
.our-team-list .team-member-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  color: var(--description-text-color);

  margin-bottom: 16px;
}
.our-team-list .social-list {
  display: flex;
  max-width: 270px;
  padding: 0px 32px;
}
.social-list .social-list-item {
  max-width: 44px;
  max-height: 44px;
  margin-right: 10px;
}
.social-list .social-list-item:nth-child(4) {
  margin-right: 0px;
}
.social-list-item .social-link {
  padding: 12px;
}
