:root {
  --main-bgc-white: #ffffff;
  --secondary-bgc-grey: #f5f4fa;
  --footer-bgc: #2f303a;
  --focused-color: #2196f3;
  --prime-text-color: #212121;
  --description-text-color: #757575;
  --footer-dark-grey-text-color: rgba(255, 255, 255, 0.4);
}
.header-section {
  max-width: 1200px;
  padding: 25px 15px;
  margin: 0 auto;
}
.logo {
  text-transform: capitalize;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;

  display: inline-block;
  margin-right: 85px;
}
.logo-firsthalf {
  color: var(--focused-color);
}
.logo-secondhalf {
  color: black;
}
.nav-list {
  display: flex;
}
.nav-list .item {
  margin-right: 50px;
}
.nav-list .item:nth-child(3) {
  margin-right: 0px;
}
.nav-list-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--prime-text-color);
}
.focused {
  color: var(--focused-color);
}
.contact-list-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}

.navigation {
  display: flex;
  align-items: center;
}
.header-contact-list {
  margin-left: auto;
  display: flex;
}
.header-contact-list .item {
  margin-right: 30px;
}
.hero-section {
  text-align: center;
}
.hero-section .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-section {
  background-color: burlywood;
}
.hero-section .hero-button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  background-color: var(--focused-color);
}
.hero-button .button-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;

  color: #ffffff;
}
